<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.api.shopcart.mapper.YybShopcartApiMapper">
    
	<sql id="yybShopcartColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.member_id AS "memberId",
		a.music_id AS "musicId",
		a.music_title AS "musicTitle",
		a.music_price AS "musicPrice",
		a.right_select AS "rightSelect",
		a.usage_select AS "usageSelect",
		a.music_total AS "musicTotal",
		a.musician_name AS "musicianName",
		a.right_select_name AS "rightSelectName",
		a.usage_select_name AS "usageSelectName",
		a.order_id AS "orderId"
	</sql>
	
	<sql id="yybShopcartJoins">
		
	</sql>
	
    
	<select id="get" resultType="YybShopcart" >
		SELECT 
			<include refid="yybShopcartColumns"/>
		FROM yyb_shopcart a
		<include refid="yybShopcartJoins"/>
		WHERE  (a.order_id is null or a.order_id = "")  and  a.id = #{id}
	</select>
	
	<select id="findList" resultType="YybShopcart" >
		SELECT 
			<include refid="yybShopcartColumns"/>
		FROM yyb_shopcart a
		<include refid="yybShopcartJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="YybShopcart" >
		SELECT 
			<include refid="yybShopcartColumns"/>
		FROM yyb_shopcart a
		<include refid="yybShopcartJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO yyb_shopcart(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			member_id,
			music_id,
			music_title,
			music_price,
			right_select,
			usage_select,
			music_total,
			musician_name,
			right_select_name,
			usage_select_name
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{memberId},
			#{musicId},
			#{musicTitle},
			#{musicPrice},
			#{rightSelect},
			#{usageSelect},
			#{musicTotal},
			#{musicianName},
			#{rightSelectName},
			#{usageSelectName}
		)
	</insert>
	
	<update id="update">
		UPDATE yyb_shopcart SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			member_id = #{memberId},
			music_id = #{musicId},
			music_title = #{musicTitle},
			music_price = #{musicPrice},
			right_select = #{rightSelect},
			usage_select = #{usageSelect},
			music_total = #{musicTotal}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM yyb_shopcart
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE yyb_shopcart SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>

	<update id="updateOrderId">
		UPDATE yyb_shopcart SET
			order_id = #{orderId}
		WHERE id = #{shopcartId}

	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="YybShopcart" statementType="STATEMENT">
		select * FROM yyb_shopcart  where ${propertyName} = '${value}'
	</select>

	<select id="shopcartList" resultType="YybShopcart">
		select
			<include refid="yybShopcartColumns"/>
		FROM yyb_shopcart a
		where (a.order_id is null or a.order_id = "")  and a.member_id = #{memberId}
		order By a.create_date desc
	</select>

	<select id="getCountByCodition" resultType="java.lang.Integer">
		select count(*) FROM yyb_shopcart a
		where (a.order_id is null or a.order_id = "") and  a.member_id = #{memberId} and a.music_id = #{musicId}
	</select>

	<select id="getListByIds"  resultType="YybShopcart">
		select * FROM yyb_shopcart a where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>

	</select>
	
</mapper>